<div class="contenedor">
    <div  class="caja">


        <div class="login" *ngIf="!modoRegistro">
            <h2>Iniciar Sesión</h2>
            <label for="">correo electronico</label>
            <input type="text" placeholder="ejemplo@gmail.con" [(ngModel)]="correo">
            <label for="">contraseña</label>
            <input type="password" placeholder="contraseña" [(ngModel)]="contrasena">

            <div class="botones">
                <button  class="btn-primario btn-inline" (click)="acept()" >Ingresar</button>
                <button class="btn-primario btn-inline"  (click)="mostrarRegistro()">crear cuenta</button>
            </div>

            <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
       
        <div class="registro" *ngIf="modoRegistro">
            <h2>Registro</h2>

            <label for="">Nombre</label>
            <input type="text" placeholder="Nombre" [(ngModel)]="nombre">
            <label for="">correo electronico</label>
            <input type="text" placeholder="" [(ngModel)]="correo">
            <label for="">contraseña</label>
            <input type="password" placeholder="contraseña" [(ngModel)]="contrasena" >
            <label for="">confirma contraseña</label>
            <input type="password" placeholder="contraseña" [(ngModel)]="con_contrasena">

            <div class="botones">
                <button class="btn-primario btn-inline" (click)="registre()">Aceptar</button>
                <button  class="btn-primario btn-inline" (click)="mostrarLogin()">Regresar</button>
            </div>
           
        </div>
    </div>
</div>