<div class="contenedor_superior bg-azul-mar">
  <div class="contenedor_lot">
    <img class="logo1" src="img/logo.png" alt="Logo de Mariscos">
    
    <div class="barra-busqueda">
      <input type="text" placeholder="Buscar mariscos, platillos, bebidas...">
      <button class="btn_buscar">
        <img src="img/busqueda.png" alt="Buscar">
      </button>
    </div>

    <nav class="menu-acciones">
      <a class="whatsapp" href="https://web.whatsapp.com/">
        <img src="img/whasap.png" alt="WhatsApp">
        Whatsapp
      </a>
      <a class="carrito" href=""> <img src="img/carrito.png" alt=""> Mi carrito</a>
      <a class="herramientas" href=""> <img src="img/icons8-menú-50.png" alt=""> Herramientas</a>
    </nav>
  </div>
</div>

<div class="contenedor_casicentro nav-mariscos">
  <div class="contenedor_a">
    <a routerLink="/home" (click)="mostrarCarrusel = false">Inicio</a>
    <a routerLink="/bebida"  (click)="mostrarCarrusel = false">Bebidas</a>
    <a routerLink="/alimentos"  (click)="mostrarCarrusel = false" >Comidas</a>
    <a routerLink="/especiales"  (click)="mostrarCarrusel = false">Especiales del Mar</a>
  </div>
</div>


<div *ngIf="mostrarCarrusel" class="contenedor_carrusel">    
    <div class="container">
      <div class="carrusel">
        <div class="carrusel-inner">
          <span>
            <img class="img1" src="img/img1.jpg" alt="">
            <p>lo mejor de la isla en un solo lugar</p>
          </span>
        
          <span> 
            <img class="img1"  src="img/img2.jpg" alt="">
            <p>ven y disfruta de nuestras deliciosas comidas</p>
          </span>

          <span>
            <img class="img1"  src="img/img3.jpg" alt="">
            <p>el mejor ambiente para compartir con amigos</p>
          </span>
          
          <span>
            <img class="img1" src="img/img4.jpg" alt="">
            <p>sabores que te transportan al paraiso</p>
          </span>
        
        </div>
      </div>
    </div>


    <div class="conteiner_texto">
      <h2>¡Bienvenido a ISLA ARENA!</h2>
      <h3>TU RESTAURANTE DE CONFIANZA</h3>

      <span class="texto">
      <p> En ISLA ARENA, nos enorgullece ofrecerte una experiencia culinaria inigualable con los mejores mariscos frescos y platillos deliciosos. Nuestro compromiso es brindarte un servicio excepcional y un ambiente acogedor para que disfrutes de cada visita. Ven y descubre por qué somos el restaurante favorito de la isla.<br>
        ¡Te esperamos con los brazos abiertos!</p>
      </span>
    </div>
</div>